body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #e6f7ff; /* Changed background color */
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 30px;
    color: #333;
    font-size: 28px;
}

#location-form {
    margin-top: 20px;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #007bff;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#weather-container {
    margin-top: 30px;
}

#weather-data {
    display: inline-block;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

#weather-data h2 {
    margin-bottom: 15px;
    color: #333;
}

#weather-data p {
    margin-bottom: 10px;
    color: #555;
}
